  <!-- form start -->
  <app-modal title = 'Organization Type'>
    <div *ngIf="action === 'create' || action === 'update'">
      <form class="form-horizontal" [formGroup] = "form" (ngSubmit) = onSubmit() create>
        <div class="card-body">
          <div class="form-group row">
            <label for="code" class="col-sm-3 col-form-label">Code</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="code" placeholder="code" formControlName = "code">
              <small class="form-text text-muted" *ngIf="form.get('code').invalid && form.get('code').touched">Please enter a code</small>
            </div>
          </div>
          <div class="form-group row">
            <label for="category" class="col-sm-3 col-form-label">Type</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="type" placeholder="Enter type name" formControlName = "title">
              <small class="form-text text-muted" *ngIf="form.get('title').invalid && form.get('title').touched">Please enter a title</small>
            </div>
          </div>
          <div class="form-group row">
            <label for="category" class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-5">
              <select name="" class="custom-select" id="category" placeholder="Enter category name" formControlName = "categoryId">
                <option value="{{category.id}}" *ngFor ="let category of categories">{{category.title}}</option>
              </select>
              <small class="form-text text-muted" *ngIf="form.get('categoryId').invalid && form.get('categoryId').touched">Please enter a category</small>
            </div>
          </div>
          <div class="row">
            <label for="description" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              <!-- textarea -->
              <div class="form-group">
                <textarea class="form-control" rows="4" placeholder="Describe the type here..." formControlName = "description"></textarea>
                <small class="form-text text-muted" *ngIf="form.get('description').invalid && form.get('description').touched">Please enter a type description</small>
              </div>
            </div>
          </div>
    
        </div>
        <div class="modal-footer justify-content-between">
          <button type="submit" class="btn btn-default" data-dismiss="modal" #closeButton>Close</button>
          <button type="submit" class="btn btn-primary" [disabled] = "!form.valid">Save</button>
        </div>
      </form>
    </div>


    <div *ngIf="action === 'delete'">
      <div class="modal-body">
        <form class="form-horizontal" [formGroup] = "form" (ngSubmit) = onSubmit() create>
        <h6>Are you sure you want to delete this type?</h6>
        <div class="modal-footer justify-content-between">
          <button type="submit" class="btn btn-default" data-dismiss="modal"  #closeButton>Close</button>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
        </form>
      </div>
    </div>

  </app-modal>

