<!-- form start -->
<form class="form-horizontal" [formGroup] = "categoryForm" (ngSubmit) = onSubmit()>
    <div class="card-body">
      <div class="form-group row">
        <label for="code" class="col-sm-3 col-form-label">Code</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="code" placeholder="Category code">
          <small class="form-text text-muted">Please enter a code</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="category" class="col-sm-3 col-form-label">Category</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="category" placeholder="Enter category name">
          <small class="form-text text-muted">Please enter a category</small>
        </div>
      </div>
      <div class="row">
        <label for="description" class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <!-- textarea -->
          <div class="form-group">
            <textarea class="form-control" rows="4" placeholder="Describe the category here..."></textarea>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer justify-content-between">
      <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>