<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <app-page-header title = "Academic Calendar"></app-page-header>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-2">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 280px;">
                                    <input type="text" name="table_search" class="form-control float-left"
                                        placeholder="Search">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="card-title"><i class="far fa-calendar-alt"></i> &nbsp Academic Year</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2020-2021</td>
                                        <td>
                                            <span class="badge bg-success">in session</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2019-2020</td>
                                        <td>
                                            <span class="badge bg-secondary">closed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2018-2019</td>
                                        <td>
                                            <span class="badge bg-secondary">closed</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>


                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="far fa-calendar-alt"></i>
                                        Academic Year details
                                    </h3>
                                    <div class="card-tools">
                                        <app-modal-buttons></app-modal-buttons>
                                    </div>
                                </div>
                               
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <dl>
                                        <dt>Description</dt>
                                        <dd>A description list is perfect for defining terms.</dd>
                                        <dt>Period</dt>
                                        <dd>1st of January to 31st of December 2021</dd>
                                    </dl>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->

                     <!-- /.row -->
                    <div class="row">
                        <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-graduation-cap"></i>
                                Academic Semesters
                            </h3>
                            <div class="card-tools">
                                <app-modal-buttons></app-modal-buttons>
                            </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>183</td>
                                    <td>First Semester</td>
                                    <td>11-7-2014</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td>183</td>
                                    <td>First Semester</td>
                                    <td>11-7-2014</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td>183</td>
                                    <td>First Semester</td>
                                    <td>11-7-2014</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                </tr>
                                <tr>
                                    <td>183</td>
                                    <td>First Semester</td>
                                    <td>11-7-2014</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                </tr>
                               
                                </tbody>
                            </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>


            </div>
            <!-- /.row -->


        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->